nbproject
nbproject/*
compile/*
config.php
template/cache/*
template/compile/*
# Build results
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover





############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

