.title
{
    text-align: center;
    background-color: #CFF3F5;
    text-shadow: grey 1px 1px 1px;
    font-size: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 3px solid #cacaca;
    border-right: 3px solid #cacaca;
    border-bottom: 3px solid #cacaca;
    padding: 10px;
    color: #A4CFF2;
}
.successbox
{
	color: green;
	font-weight: bold;
}
.small
{
	font-size: small;
}
.alone_title
{
    color:white;
    text-shadow: grey 3px 3px 3px;
}

.alone_body
{
    text-align: center;
}

.alone_container table
{
    width: 100%;
    text-align: center;
}
#operation
{
    display: none;
    padding: 5px;
    position: fixed;
    right: 3%;
    top: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 3px solid #cacaca;
    border-right: 3px solid #cacaca;
    border-bottom: 3px solid #cacaca;
    background-color: lightgrey;
    z-index: 1001;
}
.operation_options
{
    text-align: center;
    display: inline-block;
    border-right: solid 1px #b1b1b1;
    padding:10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #cbe8f3;
    color: #1494c0;
    font-size:12px;
    border-radius: 3px;
}
#vanshavali_user
{
    padding: 5px;
    position: fixed;
    left: 3%;
    top: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 3px solid #cacaca;
    border-right: 3px solid #cacaca;
    border-bottom: 3px solid #cacaca;
    z-index: 1002;
    background-color: lightgrey;
}

#infovis {
    position:relative;
    width:600px;
    height:600px;
    margin:0px;
    overflow:hidden;
    border-right: 1px solid #cac
}


#right-container {
    right:0;
    border-right:1px solid #ddd;
    color:#686c70;
    text-align: left;
    overflow: auto;
    position:absolute;
    top:10%;
    width: 30%;
    height: 88%;
}
.single-dialog{
    margin-left: 3%;
    margin-top: 5%;
    margin-right: 3%;
}