/*
255    162      0        iGranati
0      160      62
36     168      172
0      135      203
152    35       149
*/
body
{
    padding: 2%;
}
nav
{
    margin-bottom: 10px;
}
.title
{
    text-align: center;
    background-color: #CFF3F5;
    text-shadow: grey 1px 1px 1px;
    font-size: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 3px solid #cacaca;
    border-right: 3px solid #cacaca;
    border-bottom: 3px solid #cacaca;
    padding: 10px;
    color: #A4CFF2;
}
#infovis
{
    background-color: #fafafa;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.successbox
{
    color: green;
    font-weight: bold;
}
.small
{
    font-size: small;
}
.alone_title
{
    color:white;
    text-shadow: grey 3px 3px 3px;
}

.alone_body
{
    text-align: center;
}

.alone_container table
{
    width: 100%;
    text-align: center;
}
#operation
{
    padding: 5px;
    position: fixed;
    right: 3%;
    top: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 3px solid #cacaca;
    border-right: 3px solid #cacaca;
    border-bottom: 3px solid #cacaca;
    background-color: lightgrey;
    z-index: 1001;
}
.operation_options
{
    text-align: center;
    display: inline-block;
    border-right: solid 1px #b1b1b1;
    padding:10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #cbe8f3;
    color: #1494c0;
    font-size:12px;
    border-radius: 3px;
}

#vanshavali_user
{
    padding: 5px;
    position: fixed;
    left: 3%;
    top: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 3px solid #cacaca;
    border-right: 3px solid #cacaca;
    border-bottom: 3px solid #cacaca;
    z-index: 1002;
    background-color: lightgrey;
}



.single-dialog{
    margin-left: 3%;
    margin-top: 5%;
    margin-right: 3%;
}

.suggest-box
{
    border-bottom: 5px solid #5bc0de;
    padding: 10px;
    background-color: #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
}

#display_image
{
    /*width: 200px;*/
    height: 200px;
    /*vertical-align: middle;*/
    padding: 5%;
}
.suggest_quest
{
    font-weight: bold;
}

.membername_mention
{
    font-weight: bold;
    font-family: open-sans;
}

#display_dob, #display_relationship, #display_alive, #display_relation, #display_gaon
{
    font-weight: bold;
    text-wrap: normal;
}

.node
{
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    /*background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.53)), color-stop(100%, rgba(237,237,237,0)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );*/
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

#right-container
{
    background-color: #f5f5f5;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

@media screen and (max-wdith: 700px)
{
    #right-container
    {
        display:none;
        position:absolute;
        top:5%;
    }
}


@media screen and (max-width: 360px)
{
    #rightcontainerheader
    {
        display: none;
        position: absolute;
        right: 0px;
        top: 2%;
        background-color: white;
    }
}